---
import '../styles/global.css'
import '../styles/theme.css'
import '../styles/components/custom-block.css'
import '../styles/components/vp-code.css'
import '../styles/components/vp-code-group.css'
import '../styles/components/vp-doc.css'
import '../styles/components/vp-sponsor.css'
---

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet" />

<div class="h-14 flex items-center justify-between sm:px-8 b-b-.5 b-b-solid b-b-border shadow-sm shadow-gray-200 text-base font-bold">
  <a href="/" class="flex items-center gap-2">
    <span class="i-tabler:circle-filled flex w-6.5 h-6.5 fill-primary text-primary"></span>
    uno-shadcn/ui
  </a>
  <span class="pr-2 flex items-center">
    <a href="https://github.com/fisand/uno-shadcn-ui" target="_blank" class="hover:bg-gray-100 p-1.25 rounded">
      <span class="i-logos:github-icon flex w-5.25 h-5.25 text-primary cursor-pointer"></span>
    </a>
  </span>
</div>
